html, body {
	width: 100%;
	height: 100%;
}
.wrap {
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #e8e8e8;
	padding-top: 10%;
	box-sizing: border-box;
}
.mine {
	opacity: 0;
}
.on.mine {
	-webkit-transition: 0.3s;
	transition: 0.3s;
	opacity: 1;
}

.history {
	width: 100%;
	position: relative;
	font-family: Helvetica;
}
.history-item {
	position: relative;
	display: table;
	width: 100%;
	box-sizing: border-box;
	padding: 0 8px;
	margin-bottom: 8px;
}
.history-item:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -13px;
	width: 26px;
	height: 26px;
	background-image: url(../images/his_xin.png);
	background-size: 26px 26px;
}
.history-item:nth-child(even):before {
	background-image: url(../images/his_xin2.png);
}
.history-item:after {
	content: '';
	display: block;
	position: absolute;
	top: 26px;
	left: 50%;
	margin-left: -1px;
	width: 1px;
	height: 100%;
	background-color: #fff;
}
.history-item:last-child:after {
	display: none;
}
.history-time {
	line-height: 26px;
	text-align: right;
	font-size: 10px;
	color: #777;
	position: absolute;
	white-space: nowrap;
	right: 56%;
}
.history-item:nth-child(even) .history-time {
	left: 56%;
}
.history-detail {
	position: relative;
	line-height: 24px;
	padding: 6px 10px;
	white-space: nowrap;
	background-color: #f94414;
	border-radius: 4px;
	border-top-left-radius: 0;
	float: right;
	width: 37%;
}
.history-item:nth-child(even) .history-detail {
	background-color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 0;
	margin-left: 0;
	float: left;
}
.history-detail:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 100%;
	width: 11px;
	height: 15px;
	background-image: url(../images/hisbg1-1.png);
	background-size: 11px 15px;
}
.history-item:nth-child(even) .history-detail:after {
	background-image: url(../images/hisbg2-1.png);
	right: auto;
	left: 100%;
}
.history-line-1 {
	overflow: hidden;
	font-size: 14px;
	color: #fde5de;
}
.history-item:nth-child(even) .history-line-1 {
	color: #666;
}
.history-line-2 {
	overflow: hidden;
	font-size: 12px;
	color: #fff;
}
.history-item:nth-child(even) .history-line-2 {
	color: #ff390b;
}
.history-line-3 {
	overflow: hidden;
	font-size: 12px;
	color: #fde5de;
}
.history-item:nth-child(even) .history-line-3 {
	color: #666;
}
.history-line-left {
	float: left;
}
.history-line-right {
	float: right;
}