html,body{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
	height: 100%;	
	background: #f6e8cb;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
}
.int_btn{
	width: 100%;
	height: 10%;
	background: yellow;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
}
.int_btn a{
	display: block;
	-webkit-box-flex: 1;
	text-align: center;
}
.int_con{
	width: 94%;
	-webkit-box-flex: 1;
	background: white;
	overflow: auto;
}
.int_img{
	width: 100%;
}
.int_img img{
	display: block;
	width: 100%;
}
.int_tit{
	width: 100%;
	padding: 3%;
	box-sizing: border-box;
}
.int_tit p{
	line-height: 22px;
	font-size: 14px;
}
.int_tit p span{
	display: inline-block;
	background: #ae9689;
	padding: 1% 2%;
	color: #fbfaf8;
}
.int_info h3{
	padding: 5%;
	font-size: 16px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.int_info h3 span{
	padding-bottom: 5%;
	border-bottom: 2px solid orange;
}
.int_info p{
	padding: 5% 5% 0 5%;
	line-height: 20px;
}
.int_end{
	width: 90%;
	margin-left: 5%;
	height: auto;
	background: #f0efeb;
}
.int_end p:nth-child(1){
	padding: 5% 0% 3% 3%;
	line-height: 22px;
}
.int_end p:nth-child(1) span{
	background: #ae9789;
	padding: 1% 2%;
	color: white;
	margin-right: 2%;
}
.int_end p:nth-child(2){
	line-height: 22px;
	padding: 0 3%;
}
.int_end p:nth-child(2) span{
	background: #ae9789;
	padding: 1% 2%;
	color: white;
	margin-right: 2%;
}
.buy_love{
	width: 100%;
	height: 10%;
	background: white;
	border-top: 1px solid #eee;
}
.buy_love_btn{
	width: 90%;
	background: #ff8309 url(../images/iconfont-aixin.png) 35% center;
	background-repeat: no-repeat;
	background-size: 8%;
	border: none;
	padding: 3%;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	padding-left: 10%;	
	margin-left: 5%;
	margin-top: 2%;
}

/*===弹出框===*/
.black_box{
    display: none; 
    position: fixed;  
    top: 0%;  
    left: 0%;  
    width: 100%;  
    height: 100%;  
    background-color: black;  
    z-index:1001;    
    opacity:.80;   
} 
.white_box {
	position: relative;
    display: none; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 40%; 
    background-color: white; 
    z-index:1002;
    overflow: auto; 
    box-sizing: border-box;   
}
#close{
	display: block;
	width: 50px;
	height: 45px;
	position: absolute;
	right: 0%;
	top: 0%;
	text-align: center;
	line-height: 45px;
}
#close:hover{
	background: #eee;
	color: white;
}
#light h3{
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
}
#light .input_box{
	height: 44px;
	width: 90%;
	line-height: 44px;
	margin-left: 5%;
	border: 1px solid #ccc;
	margin-top: 2%;
	font-size: 14px;
}
#light .input_box input{
	border: 0;
	color: #ccc;
	outline: 0;
	-webkit-appearance: none;
}
#light .input_box span{
	display: inline-block;
	width: 20%;
	text-align: center;
}
#light .submit{
	width: 90%;
	height: 45px;
	margin-left: 5%;
	background: #ccc;
	color: white;
	border: none;
	border-radius: 5px;
	margin-top: 3%;
	font-size: 20px;
}
#light h6{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#light h6 input{
	display: none;
}
#light h6 span{
	padding-left: 2%;
	font-size: 14px;
}
#light h6 label{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background: url(../images/checkbox.jpg) no-repeat center center;
	background-size:cover;	
}