html,body,.wrap{
	width: 100%;
	height: 100%;
}
.menu{
	width: 100%;
	height: 58%;
	background: url(../images/bg.png);
	background-repeat: round;
	background-size: cover;
	position: relative;
}
.menu_content{
	width: 80%;
	margin-left: 10%;
	padding-top: 12%;
}
.menu_content li{
	border-bottom: 1px solid #f39282;
	padding:2% 0;
}
.menu_content li span{
	color: white;
}
.menu_content li span:first-child{
	display: inline-block;
	width: 25%;
	margin-right: 20%;
	color: #fda99e;
	border: 1px solid #fda99e;
	border-radius: 10px;
	text-align: center;
	padding:1% 0;
}
.menu_tips h3{
	width: 100%;
	position: absolute;
	bottom: 25%;
	color: white;
	font-size:16px ;	
	text-align: center;
}
.menu_tips h3 span{
	display: block;
	font-size: 16px;
	padding-bottom: 4%;
}
.menu_tips p{
	width: 20%;	
	position: absolute;
	left: 40%;
	bottom: 0%;
}
.menu_tips p img{
	display: block;
	width: 100%;
}
.money{
	width: 90%;
	height: 25%;
	margin-left: 5%;
	border-bottom: 1px solid #e7e7e7;
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: center;
}
.money>div{
	width: 50%;
	height: 100%;
	text-align:center;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.money>div:first-child{
	border-right: 1px solid #e7e7e7;
}
.money>div>h3{
	padding-bottom: 10%;
	font-size: 14px;
	font-weight: bold;
}
.money>div>p>span{
	font-size: 20px;
}
.history{
	position: absolute;
	top: 3%;
	right: 5%;
}
.history_btn{
	border: 1px solid #fe8208;
	border-radius: 5px;
	color: white;
	padding: 4% 0;
}
.buy_love_btn{
	width: 90%;
	background: #ff8309 url(../images/iconfont-aixin.png) 35% center;
	background-repeat: no-repeat;
	background-size: 8%;
	border: none;
	padding: 3% 0;
	border-radius: 5px;
	margin: 5% 0 0 5%;
	color: white;
	font-size: 16px;
	padding-left: 10%;	
}
.thank_wrok{
	width: 100%;
	text-align: center;
	padding: 4% 0 2% 0;
	color: #969696;
}
.thank_wrok span{
	color: #eb484b;
}
.timer{
	width: 60%;
	height: 4%;
	border-radius: 10px;
	background: yellow;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 2%;
	left: 5%;
}
.work_summary{
	width: 30%;
	padding: 2% 0 2% 2%;
	text-align: center;
	margin: 0 auto;
	background: url(../images/heart@3x.png) no-repeat;
	background-size: 100% 100%;
	color: #ffdddc;
	margin-top: 3%;
}
.buy_fail{
	display: none;
}
.trans_doing{
	display: none;
}
.fina_success,.fina_fail,.fina_unsuccess{
	display: none;
}


.mine { opacity: 0; }
.on.mine { -webkit-transition: 0.3s; transition: 0.3s; opacity: 1; }